<mat-card class="card">
    <div class="card-content">
        <h3 class="title" *ngIf="simplification_list !== undefined">
            Question {{questionNumber}} of {{simplification_list.length}}
        </h3>
        <h3 class="title" *ngIf="simplification_list !== undefined">
            {{article_names[questionNumber]}}
        </h3>
        <h4 class="question"> Click on the text that is easier to read </h4>
        <div class="row">
            <button mat-button class="answer" (click)="getNextQuestion()">
                {{currentOriginalText}}
            </button>
            <button mat-button class="answer" (click)="getNextQuestion()">
                {{currentSimplifiedText}} 
            </button>
        </div>
    </div>
</mat-card>
