<mat-card class="card">
    <div class="card-content">
        <img alt="Eligibility Icon" class="header-icon-img lazyloaded"
            data-src="https://kstatic.googleusercontent.com/files/d20b9a7b9330e233ea84c89d1b334caaca89877404366b21ee816915d8cf6381f7140b3c33ae7887dbb29ff792489b08ee7976fdbd83ed0c6d1d3c636b8e661d"
            src="https://kstatic.googleusercontent.com/files/d20b9a7b9330e233ea84c89d1b334caaca89877404366b21ee816915d8cf6381f7140b3c33ae7887dbb29ff792489b08ee7976fdbd83ed0c6d1d3c636b8e661d">
        <h3 class="title">Take this Quiz if you:</h3>
        <mat-list>
            <mat-list-item class="mat-list-item">
                <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
                <div>Have parential permission if you are under the age of 18</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
                <div>Are a student between Grade 3 - Grade 12</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
                <div>Understand that we will be recording your results</div>
            </mat-list-item>
        </mat-list>
        <br />
        <button mat-raised-button (click)="navigateToInfo()" color="primary" aria-label="Acknowledge" >Acknowledge</button>
    </div>
</mat-card>