textarea {
    resize: none;
}
.highlightText {
    background-color: yellow;
}
.form_container {
    display: flex;
    flex-direction: row;
}
.text_box {
    overflow-y: scroll;
}

.mat-chip-list-wrapper {
    justify-content: center;
}

mat-sidenav {
    width: 12vw;
}
button{
    white-space: pre-wrap !important;
}
