<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary" style="justify-content: center">
      <span>Load Book</span>
    </mat-toolbar>
    <br />
    <mat-chip-list>
      <mat-chip color="warn" style="margin-top: .5em" (click)="loadSampleText()" selected>
        Sample Text 
      </mat-chip>
      <mat-chip color="accent" (click)="loadBookFromDB('Great Expectations');" selected>
        Great Expectations
      </mat-chip>
      <mat-chip color="accent" style="margin-top: .5em" (click)="loadBookFromDB('Sherlock');" selected>

        Sherlock
      </mat-chip>
      <mat-chip color="accent" style="margin-top: .5em" (click)="getWordAssociation('pneumonia');" selected>
        Test
      </mat-chip>
    </mat-chip-list>
    <br />
    <mat-toolbar color="primary" style="justify-content: center">
      <span>Navigation</span>
    </mat-toolbar>
    <br />
    <mat-chip-list>
      <mat-chip color = "accent" style="margin-top: .5em;" *ngFor="let chapter of chapterDict | keyvalue" (click)="navigateToChapter(chapter.value)" selected>
        {{chapter.key}}
      </mat-chip>
    </mat-chip-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="flexcontainer" style="padding-top: 5em; padding-left: 3em;">
      <div class="form_container">
        <div style="width: 40vw; height: 30vh">
          <mat-card style="text-align: center; font-size: 40px; color: white; background: #673ab7">
            <h2><b>{{bookName}}</b></h2>
          </mat-card>
          <mat-card class="text_box" style="height: 25em">
            {{selectedText}}
          </mat-card>
        </div>
        <div style="width: 40vw; height: 100vh;">
          <mat-card style="text-align: center; margin-left: 7em">
            <button mat-raised-button color="primary" (click)="nextParagraph();" style="background: green;" [disabled]="paragraphs == null || paragraphNumber + 1 >= paragraphs.length">
              Next
            </button>
            <button mat-raised-button color="primary" (click)="reset()" style="background: red" [disabled]="paragraphs == null || paragraphs.length <= 1">
              Reset
            </button>
            <button mat-raised-button color="primary" (click)="prevParagraph();" style="background: blue" [disabled]="paragraphNumber - 1 < 0">
              Prev
            </button>
          </mat-card>
          <mat-card class="text_box" style="margin-left: 7em; margin-top: 2em; height: 30em;">
            <div #myTextArea [innerHTML]="textContents"></div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>